@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}
<div class="text-danger"><h2>Error</h2></div>
<div class="text-danger">@(TempData["ErrorMessage"]?.ToString())</div>

