<tr class="row_with_bg table-labels-row">
    <th colspan="2"><h4>Android App Options:</h4></th>
    <th colspan="3"><h4>Windows Installation Guide:</h4></th>
</tr>

<tr class="row_with_bg">
    <td colspan="2">
        <ul>
            <li><a href="~/Files/sstp_max_build_55.apk">SSTP Max</a></li>
            <li><a href="~/Files/open_sstp_client_1.6.3.apk">Open SSTP Client</a></li>
        </ul>
    </td>
    <td colspan="3">
        <ul>
            <li><a href="~/Files/Windows_Installation_Guid.mp4">Watch video guide</a></li>
        </ul>
    </td>
</tr>
