.schedule_header {
    position: relative;
    width: 100%;
    min-height: 20px;
}

    .schedule_header span {
        position: absolute;
    }

.schedule_day {
    width: 100%;
    background-color: rgba(34,34,34,0.05);
    height: 50px;
    margin-bottom: 12px;
    position: relative;
    z-index: 0;
}

.schedule_conn {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgb(219, 84, 97, 0.7);
    border-color: rgb(156, 58, 67);
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    cursor: default;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.schedule_splliter {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 0.1%;
    background-color: #4C5B5C;
}

.schedule_splliter_now {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 0.5%;
    background-color: green;
}

    .schedule_splliter_now span {
        position: absolute;
        top: 100%;
        min-width: 110px;
    }

.schedule_conn_info {
    display: none;
    margin: 0 auto;
    min-width: 205px !important;
    background-color: darkgray;
    display: none;
    position: absolute;
    z-index: 10000;
    bottom: 105%;
    border-radius: 5px 5px 5px 0;
    padding: 5px;
}

.schedule_conn:hover .schedule_conn_info {
    display: inline;
}
